.trip-item {
  text-decoration: none;
}

.ofertas {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  height: 170px;
}

.ofertas > img {
  border-radius: 15px;
  width: 60%;
}

.textoIdeas {
  margin: 100px 100px 10px 100px;
}

.saber-mas {
  display: flex;
  justify-content: center;
}

.img-grande {
  display: flex;
  margin: 30px;
  border-radius: 15px;
  width: 70%;
  height: auto;
}

.img-pequeña {
  position: absolute;
  border-radius: 15px;
  width: 240px;
  height: 70px;
  margin-top: 200px;
}

.botonSaberMas {
  display: flex;
  background-image: linear-gradient(to right, var(--Turqoise), var(--Blue));
  color: black;
  box-shadow: 0px;
  border: grey;
}

.botonSaberMas:hover {
  background-image: var(--Red);
}

.comunity {
  display: flex;
  flex-direction: column;
  background-color: #E7E7E7;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
}

.comunity > p {
  display: flex;
  justify-content: center;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.facebook {
  display: flex;
  align-items: center;
}

.instagram {
  display: flex;
  align-items: center;
}

.iconFacebook {
  width: 19px;
  height: auto;
}

.iconInstagram {
  width: 19px;
  height: auto;
}


button {
  gap: 5px;
}
.frases {
  display: flex;
  justify-content: space-around
}
.como > img {
  width: 309px;
  height: 489px;
  left: 1041px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}

.quien > img {
  width: 309px;
  height: 489px;
  left: 1041px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}

.que > img {
  width: 309px;
  height: 489px;
  left: 1041px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}

.sostenible > img {
  width: 309px;
  height: 489px;
  left: 1041px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}


.textoProximos {
  margin: 30px 100px 10px 100px;
}

/**** Estilos general para Tablet ****/

@media screen and (min-width: 768px) {
}

/**** Estilos Orientación Horizontal en Tablet ****/

@media screen and (min-width: 768px) and (orientation: landscape) {
  h1 {
    font-size: 56px;
  }

  p {
    font-size: 20px;
  }

  .gif-container p {
    font-size: 16px;
  }
}

/**************** VERSIÓN PREDETERMINADA: Escritorio ***************/

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 80px;
  }

  p {
    font-size: 18px;
  }

  .gif-container p {
    font-size: 16px;
  }
}
