.ofertas {
  display: flex;
  margin: 30px;
  border-radius: 15px;
  width: 70%;
  height: auto;
}

.textoIdeas {
  margin: 100px 100px 10px 100px;
}

.saberMas {
  display: flex;
  margin: 30px;
  border-radius: 15px;
  width: 70%;
  height: auto;
}

.botonSaberMas {
  background-image: linear-gradient(to right, var(--Turqoise), var(--Blue));
  color: black;
  box-shadow: 0px;
  border: grey;
}

.comunity {
  background-color: #E7E7E7;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.iconFacebook {
  width: 3px;
  height: auto;
}

.iconInstagram {
  width: 3px;
  height: auto;
}
