main.register {
  background-image: linear-gradient(#ffffff, var(--Blue));
  /*background-image: linear-gradient(#ffffff, #F44336);*/
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  /*background: url('./Fondos/Fondo3.jpg');*/
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

main.register h1 {
  display: flex;
  justify-content: center;
}

.signup-container {
  max-width: 400px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  /*backdrop-filter: blur(30px);*/
}

.signup-form {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.subtitulo {
  display: flex;
  justify-content: center;
}
