main.change {
    background-image: linear-gradient(#ffffff, #F44336);
    min-height: 70vh;
  }
  
  main.change h1 {
    display: flex;
    justify-content: center;
  }
  
  .change-container {
    display: flex;
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    /*backdrop-filter: blur(30px);*/
  }
  
  .change-form {
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  
  .change-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
  }

  .boton {
    margin-left: 50px;
  }