.password-reset-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*backdrop-filter: blur(20px);*/
}

.password-reset-form-container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: transparent;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f43636;
}

body {
  min-height: 100vh;
}

main.recover {
  min-height: 100vh;
  /*background: url('./Fondos/Fondo3.jpg');*/
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
