.footer {
  background-color: black;
  background-size: cover;
  padding: 2% 5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.footer__logo-container {
  position: absolute;
  top: 2%; /* Ajusta este valor según sea necesario */
  left: 5%; /* Ajusta este valor según sea necesario */
}

.logo2 {
  max-width: 15%; /* Ajusta el tamaño máximo del logo para que sea más pequeño */
  height: auto;
}

.footer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2%; /* Ajusta este valor según sea necesario */
}

.footer__nav {
  text-align: center;
}

.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 2% 0;
  display: flex;
  justify-content: center;
}

.footer__nav-list.bold-list > li a {
  font-weight: bold; /* Aplicar negrita solo a las listas principales */
}

.footer__nav-list > li {
  margin: 0 2%;
  position: relative;
}

.footer__nav-list > li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.footer__nav-list > li a:hover {
  text-decoration: underline;
}

.footer__destinations {
  list-style: none;
  padding: 0;
  margin-left: 20%; /* Ajusta este margen izquierdo para alinear la sublista */
  color: white;
  text-align: left;
}

/* Ajusta el margen vertical entre los elementos del submenú */
/* Cambiar la visualización de los elementos de lista a inline-block */
/* Estilo para las sublistas */
.footer__destinations ul {
  display: block; /* Asegura que las sublistas sean elementos de bloque */
  margin: 0; /* Elimina el margen para evitar espacios adicionales */
}

/* Estilo para los elementos de las sublistas */
.footer__destinations li {
  display: block; /* Asegura que los elementos de la sublista sean elementos de bloque */
  margin: 10px 0; /* Ajusta el margen vertical según sea necesario */
  font-size: 0.9em;
  width: 200px; /* Ajusta el ancho del elemento según sea necesario */
}

.footer__destinations li a {
  color: red;
  text-decoration: none;
  text-align: right;
}

.footer__destinations li a:hover {
  text-decoration: underline;
}

.footer__contact p {
  margin: 0.5em 0;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin-top: 2%; /* Ajusta este valor según sea necesario */
}

.footer__social a {
  margin: 0 10px; /* Aumenta el margen entre los iconos de redes sociales */
}

.footer__social img {
  width: 1.5em;
}

.footer__rights {
  margin-top: 2%;
  font-size: 0.9em;
}
