.header {
  display: flex;
  background-image: url('/Fotos/Home.jpg');
  background-size: cover;
  background-position: center;
  height: 600px; /* Ajusta la altura según tu diseño */
}

.logo1 {
  position: absolute;
  max-width: 300px;
  z-index: 1; /* Asegura que el logo esté por encima de la foto de fondo */
  top: 20px;
  left: 20px;
}

.logo1:hover {
  cursor: pointer;
}

.contenedorFrasePortada {
  display: flex;
  position: absolute;
  margin: 10% 33% 0 33%;
}

.frasePortada {
  font-size: 50px;
  color: white;
}

.nav-links {
  position: absolute;
  display: flex;
  top: 20px;
  left: 90%;
  z-index: 1;
  color: white;
  background-color: var(--Red);
  font-size: 20px;
}
