/* Estilos generales para el contenedor principal */
.header {
  padding: 1rem;
  max-height: 650px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'logo auth'
    'nav  nav'
    'frase frase';
  justify-content: center;
  align-content: center;
}

/* Estilos para la imagen de fondo */
.imgheader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin deformarse */
  object-position: center;
  z-index: -1; /* Asegura que la imagen esté detrás de los otros elementos */
}

.show-menu {
  grid-area: logo;
}

/* Estilos para el logo */
.logo1 {
  max-width: 150px; /* Ajuste para dispositivos móviles */
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  z-index: 2;
}

.frasePortada {
  font-size: 2rem; /* Ajuste para dispositivos móviles */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.contenedorFrasePortada {
  grid-area: frase;
}

.nav-container-auth {
  grid-area: auth;
}

.nav-container-auth ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  grid-area: nav;
}

.nav-container ul {
  display: flex;
  flex-wrap: wrap;
}
