.botonesHome {
    display: flex;
    justify-content: center;
  }
  
  .botonDonde,
  .botonCuando {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
  }
  
  .botonDonde:hover,
  .botonCuando:hover {
    background-image: linear-gradient(var(--red), var(--red));
    color: white;
  }
  
  .botonDonde {
    background-color: white;
    color: black;
  }
  
  .botonCuando {
    background-image: linear-gradient(to right, var(--Turqoise), var(--Blue));
    color: black;
  }