.botonesHome {
  display: flex;
  justify-content: center;  
}

.botonDonde,
.botonCuando {
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 300;
}

.botonDonde:hover,
.botonCuando:hover {
  background-image: linear-gradient(var(--Blue), var(--Blue));
  color: white;
}

.botonDonde {
  color: black;
}

.botonCuando {
  background-image: linear-gradient(to right, var(--Turqoise), var(--Blue));
  color: black;
}
