.btn-editar, .btn-sube-post{
    margin-left: 43%;
    border-radius: 15%;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
